/*Sobrescreve o CSS do Primefaces  e remove a borda do PanelGrid*/
.ui-panelgrid td, .ui-panelgrid tr
{
    text-align: center !important; 
    border-style: none !important;
    background-color: transparent !important;
}

/*Sobrescreve o CSS do Primefaces  Aumenta o tamanho do Filtro do SelecOneMenu */
.ui-selectonemenu-filter-container {
    width: 95% !important;
}


/*Alinha o PanelGrid*/
.panelGridEquipamento{
	/* text-align: left; */
    background-color: transparent;
    float: left;
    padding: 10px;
    height: 100px;
    /* border-right: 1px solid #000; */
    /* background-color: #AAF; */
    text-align: center;

}



/* .noBorder tr,
.noBorder td { border: 0 !important; }

.transparentBackground tr,
.transparentBackground td { background: transparent !important; } */